<div>
    <div>Example 1</div>
    <app-basic-a-component></app-basic-a-component>
</div>
<!--  -->
<br>
<br>
<br>
<br>
<!--  -->
<div>
    <div>Example 2</div>
    <app-basic-example-two-child></app-basic-example-two-child>
</div>
<br>
<br>
<br>
<br>

<div>
    <div>Example 3</div>
    <app-todo-app></app-todo-app>
</div>

<div>
    <div>Example 4</div>
    <div>Lazy Module and Not Lazy Module run change detector?</div>
    <div>{{ property }}</div>
</div>

<div>
    <div>Example 5: Investigate - ChangeDetector Component is on lazyload module can use markToCheck to trigger top-root component </div>
    <button (click)="triggerParent($event)">
        Trigger Parent
    </button>
</div>


<hr>

<div>
    <br>
    <br>
    <br>
    <br>

    <hr>

    <h2>Mark to check</h2>
    <app-mark-to-check></app-mark-to-check>
</div>

