<!-- <div>1 - Fragment</div> -->
<!-- <div class='first-container'>
    <a id="first-block"></a>
</div>

<div class='second-container'>
    <a id="second-block"></a>
</div> -->

<!-- <div>------------------------------------------------------------</div> -->
<div>Refresh current route with id</div>

<br>
<hr>
<br>

<h3>User:  Router Guards and resolver</h3>
<div class="d-flex flex-nowrap">
    <a [routerLink]="['users']" [queryParams]="{'login': '1'}" class="mr-3">Login User</a>
    <a [routerLink]="['article']" class="mr-3">Article</a>
    <a [routerLink]="['can-deactive']" class="mr-3">Can Deactive Guard</a>
</div>
<br>
<hr>
<br>
<router-outlet></router-outlet>
