:host {
    .first-container {
        width: 400px;
        height: 1000px;
        background-color: greenyellow;
    }

    .second-container {
        width: 400px;
        height: 1500px;
        background-color: blueviolet;
    }
}
